
nav {
    border: 2px solid maroon;
    overflow: auto;
    color: blue;
    height: auto;
    width: 90%;
    margin-bottom: 2em;
}

nav>ul>li {
    display: inline-block;
    padding-right: 3em;
}
/*Submenu oculto*/
ul li ul {
    display: none;
    color: black;
    width: 100%;
}

/*Items del segundo nivel*/
nav>ul>li>ul>li {
    width: 100%;
    min-height: 2em;
    height: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/*Submenu al hacerse visible*/
nav li:hover>ul {
    display: block;
    border: 2px solid blue;
    cursor: pointer;
    background-color: springgreen;
    color: blue;
    position: absolute;
    width: 15%;
}


/*nav ul, nav li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
