*, *::before, *::after, *:before, *:after { 
    box-sizing : border-box;
    }
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');    
#todo {
    width: 90%;
    margin: 2em;
    max-width: 1024px;
}

img {
    width: 100%;
    max-width: 1024px;
}
header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    background-color: springgreen;
    color : blue;
    text-align: center;
    text-shadow: 0.5em;
}

article {
    width: 34%;
    margin-right: 2%;
    padding-right: 2em;
    float: left;
}
blockquote {
  quotes: "«" "»";
}
blockquote:before { content: open-quote; }
blockquote:after  { content: close-quote; }

aside {
    width: 28%;
    float: left;
}
#menu2{
    display: none;
}

/*Pié de página*/
footer {
    border-top: 1px solid maroon;
    position: fixed;
    bottom: 0px;
}
/*Mediaqueris*/

@media only screen and (max-width: 768px) {
    article{width: 100%;}
    img{width: 50%}
    aside{width: 100%}
}
@media only screen and (max-width: 480px) {
    article{width: 100%;}
    img{width: 50%}
    aside{width: 100%}
    #menu{display: none}
    #menu2{
        display: block;
        position: fixed;
        bottom: 0%;
        
    }
}


/* menu del profesor:
*, *::before, *::after, *:before, *:after { 
    box-sizing : border-box;
    }

body {
    width: 90%;
    margin: 2em auto;
}

header {
    background-color: maroon;
    color : papayawhip;
    width : 100%;
    /* Hace que el tamaÃ±o del header englobe los mÃ¡rgenes del h1*/
    /*float:left;   
    height: 3em;
    padding-left: 1em;
    margin: 2em 0em;
}

body>section, body>div {
    float: left;
}

body>section {
    width: 69%;
    margin-right: 2%;
    padding: 2em;
}

body>div {
    width: 29%;
    padding: 1em;
}

.clear_fix {
    clear: both;
}

article>div {
    column-count: 2;
    column-rule-style: solid;
    column-rule-color: gainsboro
}


article p:nth-of-type(1) {
    margin-top: 0;
}

footer {
    border-top: 1px solid maroon;
    padding: 2em 1em;
    width: 100%;
    text-align: center;
}*/
